
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
</head>
<body >
    
    <object data="/static/css/oauth2_logo.svg" type="image/svg+xml">
        <img src="/static/css/oauth2_logo.png" alt="OAuth 2.0 Logo">
    </object>
    
    <h1>Oauth 2.0 Exception - Error!!!</h1>
    

    
</body>
</html>
