
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Sitio Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href = "/static/css/stylesheet.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
    
    
    <object data="/static/css/oauth2_logo.svg" type="image/svg+xml">
        <img src="/static/css/oauth2_logo.png" alt="OAuth 2.0 Logo">
    </object>
      
    <h1>The OAuth 2.0 Authorization for Webex integrations</h1>

    <h4>
        Page Redirect with method: GET via HTML and Flask app@next.html 
        Flow the code to redirect web page Auth Cisco. 
        That is a standard designed to allow a website or application 
        to access resources hosted by other web apps on behalf of a user.
    </h4>

    <h1>Redirect Oauth Sucess!</h1>
    
    
</body>
</html>
